<h2>
  <strong><u>Skills</u></strong>
</h2>
<ul>
  <li>TypeScript, React, Angular, Java, Unix, Bash, Git</li>
  <li>Google Cloud Platform (GCP), Azure, AWS</li>
  <li>
      Unit Testing, Automation Testing, MySQL, Docker, DataDog, CI/CD, SDLC,
      APIs (REST/SDK/SOAP)
  </li>
</ul>
<h2>
  <strong><u>Experience</u></strong></h2>

<h3>Software Engineer</h3>
<p>Bakkt | Alpharetta, GA | Feb 2022 - Mar 2023</p>
<ul>
  <li>
    Ensured quality, defect-free releases for Bakkt’s embedded crypto trading
    website via manual and Selenium automated testing for UI features and APIs,
    reporting bugs, and monitoring CI/CD pipelines.
  </li>
  <li>
    Facilitated the migration of data from Azure to GCP and legacy completing
    100+ E2E regression tests.
  </li>
  <li>
    Worked with infrastructure team to configure data and integrate 3rd party
    tools to test non-functional requirements like security, compliance,
    performance, risk, and data storage.
  </li>
  <li>
    Made SQL queries to communicate with Azure database to create, update, and
    delete user data.
  </li>
</ul>
<h3>Freelance iOS Developer</h3>
<p>Independent Contractor | Oakland, CA (Remote) | Jul 2021 - Mar 2022</p>
<ul>
  <li>
    Satisfied client requests for a start-up iOS dating application via
    prototyping in Whimsical, developing features in Swift, and integrated
    Firebase for user authentication and data storage.
  </li>
  <li>
    Helped onboard new developers and served as project manager to discuss
    plans, organize tasks, and oversee progress through the development process.
  </li>
  <li>
    Performed alpha UI testing using TestFlight and reported bugs that were
    found.
  </li>
</ul>
<h2><strong><u>Experience</u></strong></h2>

<h3>Instagram Clone</h3>
<p>Aug 2019, Jun 2023 - Present</p>
<ul>
  <li>Developed Instagram-based iOS mobile application with a MVC architecture, using Swift, XCode, Parse Server, and AWS EC2 for iOS 12 devices.</li>
  <li>Returning to project to finish development and deployment.</li>
</ul>

<h3>Resume Website</h3>
<p>May 2023 - Present</p>
<ul>
  <li>Developing Angular/TypeScript webpage showcasing skills, experience, education, and contact information.</li>
</ul>
<h3>AI Chatbot for PDF Files</h3>
<p>May 2023</p>
<ul>
  <li>Developed LLM-based AI chatbot for PDF files using TypeScript, Pinecone, Langchain, GPT-3.5, and Next.js.</li>
  <li>Provided help to team members for errors blocking set-up and functionality of the application for open-source repository.</li>
</ul>

<h3>COVID-19 Info Website</h3>
<p>May 2020 - Jan 2021</p>
<ul>
  <li>Built a website that gives an overview of COVID-19 using JavaScript, Bootstrap, and Netlify.</li>
  <li>Incorporated live statistics and trends from Worldometers and Bing.</li>
</ul>
<h2><strong><u>Education</u></strong></h2>
<ul>
  <li>Bachelor of Science, Computer Science</li>
  Georgia State University | Atlanta, GA | Dec 2021
</ul>